<div *ngIf="avioKompanija !== undefined">

  <a class="btn btn-danger" style="float: right; margin-bottom: 10px" (click)="deleteAvioKompanija()" [hidden]="!getPermission()"> Delete {{avioKompanija.name}}</a>

  <a class="btn btn-primary" style="float: right; margin:0px 10px 10px 0px" (click)="newAvioKompanija()" [hidden]="!getPermission()"> New Avio Kompanija</a>
  <input class="mat-input-element" type="text" placeholder="New name" style="float: right; margin:3px 10px 10px 0px" [(ngModel)]="newAviokompanijaName">

  <h1 [hidden]="inputMode">Avio kompanija : {{avioKompanija.name}} <mat-icon class="btn" aria-label="Edit" [hidden]="!getPermission()" (click)="toggleInputMode()">mode</mat-icon></h1>


  <h2 [hidden]="!inputMode">Give {{avioKompanija.name}} a new name!</h2>
  <input class="mat-input-element" type="text" [hidden]="!inputMode" [placeholder]="avioKompanija.name" style="margin-right: 10px" [(ngModel)]="tempAvioKompanijaName">
  <a class="btn btn-primary" [hidden]="!inputMode" (click)="applyAvioKompanijaName()">Apply Changes</a>

  <div>
    <p></p>
  </div>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Kompanija</th>
      <th scope="col">Smer</th>
      <th scope="col">Pocetak</th>
      <th scope="col">Destinacija</th>
      <th scope="col">Datum polaska</th>
      <th scope="col">Datum povratka</th>
      <th scope="col">Broj preostalih karata</th>
      <th scope="col" *ngIf="getPermission()">Izmena karte</th>
      <th scope="col" *ngIf="getPermission()">Brisanje karte</th>
      <th scope="col" *ngIf="!getPermission()">Rezervisi kartu</th>


    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let karta of karte ">
      <td>{{karta.avionskaKompanija.name}}</td>
      <td *ngIf="karta.oneway">Jednosmerna</td>
      <td *ngIf="!karta.oneway">Povratna</td>
      <td>{{karta.let.origin.name}}</td>
      <td>{{karta.let.destination.name}}</td>
      <td>{{karta.departDate}}</td>
      <td *ngIf="karta.returnDate">{{karta.returnDate}}</td>
      <td *ngIf="!karta.returnDate">/</td>
      <td *ngIf="karta.count < 10" style="color: red">Jos samo {{karta.count}}</td>
      <td *ngIf="karta.count >= 10" style="color: black">{{karta.count}}</td>
      <td *ngIf="getPermission()" ><a class="btn btn-warning" (click)="izmenaKarte(karta.id)">Izmena karte</a></td>
      <td *ngIf="getPermission()" ><a class="btn btn-danger" (click)="brisanjeKarte(karta)">Obrisi kartu</a></td>
      <td *ngIf="!getPermission()" ><a class="btn btn-danger" (click)="rezervisiKartu(karta)">Rezervisi</a></td>


    </tr>

    </tbody>

  </table>


</div>
