<header class="masthead mb-auto" xmlns="http://www.w3.org/1999/html">

  <div class="inner justify-content-center">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" >
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Air_Force_Ensign_of_the_United_Kingdom.svg" width="90px" alt="">
        <h1 class="justify-content-center">AvioRAF</h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link " routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="avioKompanije">Avio kompanije</a>
          </li>

        </ul>

        <ul class="navbar-nav ">
          <li class="nav-item " [hidden]="checkLogin()">
            <a class="nav-link " routerLink="login">Login</a>
          </li>
          <li class="nav-item " [hidden]="!checkLogin()">
            <a>Username : {{getUsername()}}   </a>
<!--            <a> {{getBookingsCount()}}</a>-->
            <a class="btn" (click)="this.router.navigate(['rezervacije'])" *ngIf="!getPermission()"><mat-icon aria-hidden="false" aria-label="" matBadge="{{getNumberOfBookings()}}">airplane_ticket</mat-icon></a>



            <a class="nav-link " routerLink="" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<body id="main">
  <router-outlet>

  </router-outlet>
</body>

<footer class="page-footer font-small blue">
  <hr>
  <div class="footer-copyright text-center py-3">
    <p>FOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOter</p>
  </div>
</footer>


<style>

  navbar{
    background:#6cf;
    color: #6cf;
  ;
  }

  body{
    height: 100%;

  }

  #main{
    padding: 30px;
    margin-bottom: 150px;
  }

  footer {
    position: relative;;
    bottom:0px;
    width:100%;
  }

</style>
