

<button class="btn" (click)="getUsers()">Useri</button>

<button class="btn" (click)="getNestoDrugo()">nesto drugo</button>


<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Avionska kompanija</th>
    <th scope="col">Smer</th>
    <th scope="col">Pocetak</th>
    <th scope="col">Destinacija</th>
    <th scope="col">Datum polaska</th>
    <th scope="col">Datum povratka</th>
    <th scope="col">Broj preostalih karata</th>
    <th scope="col" *ngIf="getPermission()">Izmena karte</th>
    <th scope="col" *ngIf="getPermission()">Brisanje karte</th>
    <th scope="col" *ngIf="!getPermission()">Rezervisi kartu</th>

  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let karta of karte ">
      <th scope="row" (click)="goToKompanija(karta.avionskaKompanija)"><a class="btn"><b>{{karta.avionskaKompanija.name}}</b></a></th>
      <td *ngIf="karta.oneway">Jednosmerna</td>
      <td *ngIf="!karta.oneway">Povratna</td>
      <td>{{karta.let.origin.name}}</td>
      <td>{{karta.let.destination.name}}</td>
      <td>{{karta.departDate}}</td>
      <td *ngIf="karta.returnDate">{{karta.returnDate}}</td>
      <td *ngIf="!karta.returnDate">/</td>
      <td *ngIf="karta.count < 10" style="color: red">Jos samo {{karta.count}}</td>
      <td *ngIf="karta.count >= 10" style="color: black">{{karta.count}}</td>
      <td *ngIf="getPermission()" ><a class="btn btn-warning" (click)="izmenaKarte(karta.id)">Izmena karte</a></td>
      <td *ngIf="getPermission()" ><a class="btn btn-danger" (click)="brisanjeKarte(karta)">Obrisi kartu</a></td>
      <td *ngIf="getTicketDate(karta) && !getPermission()  " ><a class="btn btn-danger"  (click)="rezervisiKartu(karta)">Rezervisi</a></td>
      <td *ngIf="!getTicketDate(karta) && !getPermission()  " ><a class="btn btn-danger disabled"  (click)="rezervisiKartu(karta)">Rezervisi</a></td>


    </tr>

  </tbody>
  <mat-paginator [length]="lenght"
                 [pageSize]="pageSize"
                 (page)="handlePageEvent($event)"
                  [pageIndex]="pageIndex">
  </mat-paginator>

</table>

